@import "styles/common_styles/index";

.education_section {
    .grade {
        margin: 4px 0;
        font-size: 14px;
        font-weight: 500;
        color: rgba(177, 178, 179, 0.6);
    }
}

@media screen and (max-width: $lg-size-max-width) {
    .education_section {
        .grade {
            font-size: 13px;
        }
    }
}