@import "styles/common_styles/index";

.project_section {
    .switch_block {
        padding: 22px 0;
        margin: 0 auto;
        width: fit-content;
    }

    .projects_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 28px;
        grid-row-gap: 28px;

        .project_card {
            width: 100%;
            background-color: rgb(23, 23, 33);
            cursor: pointer;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
            padding: 26px 20px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            transition: all 0.5s ease-in-out 0s;

            @media (hover: hover) {
                &:hover {
                    transform: translateY(-10px);
                    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 50px 4px;
                    filter: brightness(1.3);
                }
            }

            img {
                object-fit: contain;
                width: 100%;
                height: 180px;
                background-color: #212121;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
            }

            .technologies {
                display: flex;
                margin-top: 4px;
                width: 100%;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px;

                li {
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-blue;
                    background-color: rgba(133, 76, 230, 0.082);
                    padding: 2px 8px;
                    border-radius: 10px;
                }
            }

            .project_name {
                font-size: 20px;
                font-weight: 600;
                color: rgb(177, 178, 179);
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .duration_work {
                font-size: 12px;
                margin-left: 2px;
                font-weight: 400;
                color: rgba(177, 178, 179, 0.5);
            }

            .project_description {
                font-weight: 400;
                color: rgba(177, 178, 179, 0.6);
                overflow: hidden;
                margin-top: 8px;
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
            }
        }
    }
}