@import "styles/common_styles/index";

.my_button {
    border: 1.8px solid $color-blue;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 42px;
    border-radius: 40px;
    color: $color-blue;
    cursor: pointer;
    padding: 0px 20px;
    transition: background-color 0.3s ease-in-out 0s;
    background-color: transparent;
    width: fit-content;
    max-width: 300px;

    &.rectangle {
        border-radius: 8px;
    }

    .my_button_title {
        font-weight: 500;
        font-size: 16px;
        transition: inherit;
    }

    @media (hover: hover) {
        &:hover {
            background-color: $color-blue;

            .my_button_title {
                color: #ffffff;
            }
        }
    }

    &.active {
        border: none;
        background-color: $color-blue;

        @media (hover: hover) {
            &:hover {
                background-color: rgba(133, 76, 230, 0.6);
            }
        }

        .my_button_title {
            color: #ffffff;
        }
    }

    &.medium {
        height: 62px;

        .my_button_title {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: $lg-size-max-width) {
    .my_button {
        height: 36px;
        padding: 0 16px;
        max-width: 240px;

        &.medium {
            height: 50px;

            .my_button_title {
                font-size: 18px;
            }
        }

        .my_button_title {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: $sm-size-max-width) {
    .my_button {
        max-width: 220px;

        &.medium {
            height: 44px;

            .my_button_title {
                font-size: 17px;
            }
        }
    }
}