@import "styles/common_styles/index";

.my_button {
    border: 1.8px solid $color-blue;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 42px;
    border-radius: 40px;
    color: $color-blue;
    cursor: pointer;
    padding: 0px 20px;
    transition: all 0.3s ease-in-out 0s;
    background-color: transparent;
    width: fit-content;
    max-width: 300px;

    .my_button_title {
        font-weight: 500;
        font-size: 16px;
        transition: inherit;
    }

    @media (hover: hover) {
        &:hover {
            background-color: $color-blue;

            .my_button_title {
                color: #ffffff;
            }
        }
    }

    &.active {
        box-shadow: rgb(31, 38, 52) 20px 20px 60px, rgb(31, 38, 52) -20px -20px 60px;
        background-color: $color-blue;

        @media (hover: hover) {
            &:hover {
                transform: scale(1.07);
            }
        }

        .my_button_title {
            color: #ffffff;
        }
    }

    &.medium {
        height: 62px;

        .my_button_title {
            font-size: 20px;
            font-weight: 600;
        }
    }
}