$xxl-size-min-width: 1537px;
$xl-size-max-width: 1536px;

$lg-size-max-width: 1350px;

$md-size-max-width: 1024px;
$sm-size-max-width: 768px;
$xs-size-max-width: 420px; 




:export {
    xxlSizeMinWidth: 1537;
    xlSizeMaxWidth: 1536;

    lgSizeMaxWidth: 1350;

    mdSizeMaxWidth: 1024;
    smSizeMaxWidth: 768;
    xsSizeMaxWidth: 420;
}