$base-color-blue: #3AC6D4;

$base-color-grey: #6E7074;
$base-color-dark: #28292E;
$base-color-dark-grey: #313439;

$base-color-red: #F93939;
$base-color-dark-white: #EBEBEB;
$base-color-light: #72F2FF;