@import "styles/common_styles/index";

.modal_wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;

    .modal {
        max-height: 100%;
        max-width: 800px;
        width: 100%;
        background-color: #171721;
        position: relative;
        border-radius: 16px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .modal_close {
            max-width: 16px;
            max-height: 16px;
            margin-left: auto;
            cursor: pointer;

            @media (hover: hover) {
                &:hover path {
                    fill: $color-blue;
                }
            }
        }
    }
}