@import "styles/common_styles/index";

.modal_wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    padding: 64px;

    &.form-success .modal {
        max-width: 600px;
        padding: 16px 26px 20px;
    }

    &.modal-project .modal {
        max-width: 1000px;
    }

    .modal {
        max-height: 100%;
        max-width: 800px;
        width: 100%;
        background-color: #171721;
        position: relative;
        border-radius: 16px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .modal_close {
            max-width: 16px;
            max-height: 16px;
            margin-left: auto;
            cursor: pointer;

            @media (hover: hover) {
                &:hover path {
                    fill: $color-blue;
                }
            }
        }

        h1.modal-title {
            font-size: 24px;
            font-weight: 600;
            color: $color-light;
        }
    }
}

@media screen and (max-width: $md-size-max-width) {
    .modal_wrapper {
        padding: 32px;
    }
}

@media screen and (max-width: $sm-size-max-width) {
    .modal_wrapper {
        padding: 24px 16px;

        .img_wrapper {
            height: 220px;
        }
    }
}