@import "styles/common_styles/index";

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    display: flex;
    z-index: 10;

    .inner {
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 96px;
        background-color: $color-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 10;

        .logo {
            margin-right: 6px;
            display: flex;
            align-items: center;

            svg {
                max-width: 48px;
                max-height: 48px;

                path {
                    fill: #FFF;
                }
            }

            .title {
                padding: 0 4px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        nav {
            margin: 0 6px;
            gap: 32px;
            justify-content: space-between;

            .link_item {
                color: $color-light;
                font-weight: 500;
                transition: all 0.2s ease-in-out 0s;

                @media (hover: hover) {
                    &:hover {
                        color: $color-blue;
                    }
                }
            }
        }

        .my_button {
            margin-left: 6px;
        }
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 8;
        opacity: 0;
        background-color: #000;
        visibility: hidden;
        transition: all .85s ease-in-out;

        &.active {
            visibility: visible;
            opacity: .5;
        }
    }
}

@media screen and (max-width: $lg-size-max-width) {
    header {
        height: 64px;

        .inner {
            .logo {
                svg {
                    max-width: 36px;
                    max-height: 36px;
                }

                .title {
                    font-size: 16px;
                }
            }

            nav {
                gap: 20px;

                .link_item {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: $md-size-max-width) {
    header .inner .logo {
        svg {
            max-width: 44px;
            max-height: 44px;
        }

        .title {
            font-size: 18px;
        }
    }
}