@import "styles/common_styles/index";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-black;
    width: 100%;
    padding: 20px 16px 40px;
    gap: 14px;

    .my_name {
        font-weight: 600;
        font-size: 21px;
        color: $color-blue;
    }

    nav {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 8px;
        display: flex;
        gap: 16px;
        align-items: center;

        .link_item {
            font-size: 18px;
            color: $color-light;
            transition: all .2s ease-in-out;

            @media (hover: hover) {
                &:hover {
                    color: $color-blue;
                }
            }
        }
    }

    .copyright {
        margin-top: 12px;
        font-size: 14px;
        text-align: center;
        opacity: .8;
    }
}


@media screen and (max-width: $lg-size-max-width) {
    footer {
        gap: 10px;

        .my_name {
            font-size: 18px;
        }

        nav {
            margin-top: 0;
            gap: 12px;

            .link_item {
                font-size: 14px;
            }
        }
    
        .socials_wrapper {
            margin: 8px 0;
            gap: 16px;

            a svg {
                width: 24px;
                height: 24px;
            }
        }

        .copyright {
            margin-top: 4px;
            font-size: 12px;
        }
    }
}