@import "styles/common_styles/index";

.experience_section {
    .skills {
        display: flex;

        b {
            margin-right: 12px;
            font-size: 15px;
            color: rgba(242, 243, 244, 0.6);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            li {
                font-size: 15px;
                font-weight: 400;
                color: rgba(242, 243, 244, 0.6);

                &::before {
                    content: '• ';
                }
            }
        }
    }
}